[submodule "modules/firewall"]
	path = modules/firewall
	url = git://github.com/puppetlabs/puppetlabs-firewall.git
[submodule "modules/ntp"]
	path = modules/ntp
	url = git://github.com/puppetlabs/puppetlabs-ntp.git
[submodule "modules/stdlib"]
	path = modules/stdlib
	url = git://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "modules/sshd"]
	path = modules/sshd
	url = git://github.com/jenkinsci/puppet-sshd.git
[submodule "modules/concat"]
	path = modules/concat
	url = git://github.com/ripienaar/puppet-concat.git
[submodule "modules/postgres"]
	path = modules/postgres
	url = git://github.com/jenkinsci/puppet-postgres.git
